<!DOCTYPE html>
<html>
<head>
	<title>Yo there</title>
</head>
<body>
	<p>Welcome, <%=session[:player1].name%> 

	</p>

	<a href="/place_boats"><button type="button">Place boats on the board</button></a>
</body>
</html>