<!DOCTYPE html>
<html>
<head>
  <title>Battleships</title>
</head>
<body>
  <form name="input-name" action="hello" method="post">
	  What's your name?
	  <input type='text' name='playername'>
	  <input type='submit' value="Submit">
  </form>
</body>
</html>