<!DOCTYPE html>
<html>
<head>
<title>Name</title>
</head>
<body>
  <form action="hello" method="post">
	  Please enter the names of both players.
	  <input type='text' name='player1name' required>
	 
	  <a href="/hello"><input type='submit' value="Submit"></a>
  </form>
</body>
</html>
