<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<h1>What's your name?
	</h1>
	<form action="/welcome" method="get">
		First Name: <input type="text" name="First Name">
		<button>Submit</button>
	</form>
</body>
</html>
