<!DOCTYPE html>
<html>
<head>
	<title>Proceed Page</title>
</head>
<body>
<% session[:player1].board.grid %>
<%name1=session[:player1].name%>


Let's start the game <%=name1%>

You have <%=session[:player1].ships_to_deploy.count%> ships to deploy. 
<% grid = session[:player1].board.render_display %>

<table>


	<% session[:player1].board.grid.each_slice(10) do |slice|%>
			<tr>

	<% slice.each do |key, v| %>
		<form action='/shoot' method="post">
			<td><input type="hidden" name = "object_id" value = "<%= key %>"></td>
			<td><button type="submit"><%=key%></button></td>
			</form>
	<%end%> 
			</tr>

	<%end%> 


</table>

	
	 


</body>
</html>