<!DOCTYPE html>
<html>
<head>
	<title>Proceed Page</title>
</head>
<body>
<% session[:player1].board.grid %>
<%name1=session[:player1].name%>


Let's start the game <%=name1%>

You have <%=session[:player1].ships_to_deploy.count%> ships to deploy. 
<% grid = session[:player1].board.render_display %>

<table>
	<%grid.each do |row|%>
		<tr>
		<%row.each do |cell|%>
		<form action='/shoot' method="post">
			<td><input type="hidden" name = "object_id" value = "<%= cell.id %>"></td>
			<td><button type="submit"><%=cell.id%></button></td>
			</form>
		<%end%>
		</tr>
	<%end%>
</table>


</body>
</html>