<!DOCTYPE html>
<html>
<head>
	<title>Proceed Page</title>
</head>
<body>
<%name1=session[:player1].name%>


Let's start the game <%=name1%>

You have <%=session[:player1].ships_to_deploy.count%> ships to deploy. 
<% grid = session[:player1].board.render_display %>
<table>
	<%grid.each do |row|%>
		<tr>
		<%row.each do |column|%>
			<td><%=column %></td>
		<%end%>
		</tr>
	<%end%>
</table>


</body>
</html>